@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --bg: #292e36;
  --accent: #e1b168;
  --grey-bg: #343942;

  --bg-transparent: #292e36f2;
  --white-transparent: #ffffff1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: #555;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  font-family:
    Josefin Sans,
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  font-size: 45px;
  color: var(--bg);
  margin-top: 20px;
  margin-bottom: 10px;
  font-family:
    Cormorant Infant,
    sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

h4 {
  color: var(--bg);
  margin-top: 15px;
  margin-bottom: 10px;
  font-family:
    Cormorant Infant,
    sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

.section_subtitle {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 5px;
  font-size: 15px;
  font-weight: 500;
}

.subtitle_wrap {
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  display: inline-block;
}

.transparent_button {
  border: 2px solid var(--accent);
  color: var(--accent);
  text-align: center;
  background-color: #0000;
  padding: 18px 55px;
  font-family:
    Josefin Sans,
    sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  transition:
    background-color 0.2s,
    color 0.2s;
  cursor: pointer;
}

.transparent_button:hover {
  background-color: var(--accent);
  color: var(--bg);
}

.button {
  border: 2px solid var(--accent);
  background-color: var(--accent);
  color: var(--bg);
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 18px 55px;
  font-family:
    Josefin Sans,
    sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  transition:
    color 0.2s,
    background-color 0.2s;
}

.button:hover {
  background-color: transparent;
  color: var(--accent);
}

.submit_button {
  color: var(--bg);
  background-color: #fff;
  min-height: 68px;
  padding-left: 55px;
  padding-right: 55px;
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  transition:
    background-color 0.2s,
    color 0.2s;
    cursor: pointer;
}

.submit_button:hover {
  background-color: var(--accent);
  color: #fff;
}

body {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

#current {
  color: var(--accent);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1440px;
  padding-top: 0.1px;
}

header {
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  justify-content: space-between;
}

.header_top_wrap {
  width: 100%;
  display: flex;
  height: 188px;
  margin: 50px 0;
  align-items: center;
  justify-content: space-between;
}

.header_top_wrap .call_button {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  padding: 18px 55px;
  transition: 0.3s ease;
  text-decoration: none;
  margin: 10px 10px 10px 0;
  border: var(--accent) solid 2px;
}

.header_top_wrap .call_button:hover {
  color: var(--bg);
  background-color: var(--accent);
}

.header_top_wrap .reservation_button {
  font-size: 22px;
  color: var(--bg);
  font-weight: 500;
  padding: 18px 55px;
  transition: 0.3s ease;
  text-decoration: none;
  margin: 10px 0 10px 10px;
  background-color: var(--accent);
  border: var(--accent) solid 2px;
}

.header_top_wrap .reservation_button:hover {
  color: var(--accent);
  background: transparent;
}

/* Navbar */
header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #5c6168;
  border-bottom: 1px solid #5c6168;
}

header nav .nav_content {
  display: flex;
  padding: 5px 0;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
}

header nav .nav_content ul {
  height: 100%;
  display: flex;
  list-style: none;
}

header nav .nav_content ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 30px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

header nav .nav_content ul li:first-child a {
  padding-left: 0;
}

header nav .nav_content ul li a:hover {
  color: var(--accent);
}

header nav .icons_lang {
  display: flex;
  align-items: center;
}

header nav .icons_lang a {
  color: #fff;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.lang_btn{
  width: 100px;
  background: #fff;
  display: flex;
  padding: 5px;
  border-radius: 3px;
}

.lang_btns{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lang_btns button{
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  text-align: left;
  font-family: "josefin sans" , sans-serif;
  font-size: 18px;
  background: #fff;
  border: none;
}

.lang_btns button img{
  width: 20px;
  border-radius: 6px;
}

/* Hero section */
.hero {
  background: var(--bg);
}

.hero_content {
  display: flex;
  padding-top: 40px;
  align-items: center;
  justify-content: space-between;
}

.hero_data {
  width: 50%;
}

.hero_data .titleandparagraf h1 {
  display: block;
  color: #fff;
  margin: 10px 0;
  font-size: 100px;
  font-family: "Cormorant infant", sans-serif;
}

.hero_data .titleandparagraf p {
  display: block;
  color: #fff;
  font-size: 20px;
  margin: 0 0 10px;
  padding: 5px 0 30px;
}

.hero_data a {
  display: block;
  width: max-content;
  font-size: 22px;
  padding: 18px 55px;
  color: var(--accent);
  text-decoration: none;
  border: 2px solid var(--accent);
}

.hero_image {
  width: 670px;
  position: relative;
  bottom: -4px;
}

.hero_image .hro_image {
  z-index: 2;
  width: 100%;
  position: relative;
  border-radius: 626px 626px 0 0;
  border: 30px solid var(--white-transparent);
  border-bottom: none;
}

.hero_image .wheel_pattern {
  top: 0;
  z-index: 1;
  right: -100px;
  position: absolute;
  animation: rotation 10s linear infinite;
}

/* Details section */
.details {
  width: 100%;
  padding: 100px 0 60px;
  background-color: #fff8f5;
}

.details_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.detail .img_cover {
  width: 83px;
  height: 83px;
  display: flex;
  color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
}

.detail .det_wrapper {
  color: var(--bg);
}

.detail .det_wrapper h2 {
  font-size: 30px;
  margin-bottom: 5px;
  font-family: "Cormorant infant", sans-serif;
}

.detail .det_wrapper p {
  color: #555;
  font-size: 20px;
}

.detail .det_wrapper a {
  color: #555;
  font-size: 20px;
  text-decoration: none;
}

/* Story section */
.story {
  background-color: #fff8f5;
}

.story_content {
  display: grid;
  padding: 40px 0 100px;
  grid-column-gap: 45px;
  grid-template-rows: auto;
  grid-template-columns: 1.3fr 1fr;
}

.story_content .image_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.story_content .story_data {
  display: flex;
  color: var(--bg);
  flex-direction: column;
}

.story_content .story_data h3 {
  font-size: 40px;
  margin: 20px 0 20px;
  letter-spacing: 1.5px;
  font-family: "Cormorant Infant", sans-serif;
}

.story_content .story_data p {
  color: #555;
  font-size: 20px;
  margin: 0px 0 10px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.story_content .story_data .story_dates {
  display: flex;
  justify-content: space-between;
}

.story_content .story_data .sign_wrap {
  margin: 15px 0 50px;
}

.story_content .story_data .sign_wrap .sign {
  margin-top: 10px;
}

/* Menu section */
.menu_section {
  padding: 120px 0 140px 0;
  width: 100%;
  height: auto;
}

.menu_content {
  display: grid;
  grid-column-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 0.55fr 1fr;
}

.menu_data {
  display: flex;
  flex-direction: column;
  display: block;
}

.menu_data .menu_sticky_scroll {
  align-self: start;
  top: 4%;
  z-index: 50;
  position: sticky;
}

.menu_title_wrap {
  padding-bottom: 10px;
}

.menu_title_wrap p:first-child {
  color: var(--bg);
  width: max-content;
  letter-spacing: 0.2em;
  padding: 8px 0 4px 0;
  text-transform: uppercase;
  border-block: 1px solid var(--accent);
}

.menu_title_wrap h3 {
  font-size: 40px;
  font-weight: 700;
  color: var(--bg);
  margin: 10px 0 8px;
  font-family: "Cormorant Infant", sans-serif;
}

.menu_title_wrap p:last-child {
  color: #555;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
}

.menu_image {
  margin-top: 30px;
}

.menu_image img {
  overflow: unset;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  overflow-clip-margin: unset;
}

.menu_button_wrap {
  height: auto;
}

.menu_button_wrap a {
  font-size: 22px;
  margin-top: 30px;
  font-weight: 500;
  line-height: 1.5;
  padding: 18px 55px;
  text-align: center;
  color: var(--accent);
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  background-color: #0000;
  border: 2px solid var(--accent);
  transition:
    background-color 0.2s,
    color 0.2s;
}

.menu_button_wrap a:hover {
  background-color: var(--accent);
  color: var(--bg);
}

.menu {
  margin-top: 40px;
}

.menu .category_title {
  font-size: 36px;
  color: var(--bg);
  margin: 0px 0 10px;
  font-family: "Cormorant Infant", sans-serif;
}

.menu .menu_item_wrap {
  padding-bottom: 30px;
}

.menu .category_wrap .menu_item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-between;
}

.menu .category_wrap .menu_item .menu_name_wrap {
  gap: 20px;
  display: flex;
  align-items: center;
}

.menu .category_wrap .menu_item .menu_name_wrap img {
  border-radius: 50%;
}

.menu .category_wrap .menu_item .menu_name_wrap .menu_item_title {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu .category_wrap .menu_item .menu_name_wrap .menu_item_title h4 {
  width: max-content;
  font-size: 30px;
  color: var(--bg);
  font-family: "Cormorant Infant", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.menu .category_wrap .menu_item .menu_name_wrap .menu_item_title p {
  width: 100%;
  font-size: 20px;
  color: #555;
  margin-top: 0;
  margin-bottom: 0;
}

.menu .category_wrap .menu_item .menu_price_divider {
  flex: 1 1 auto;
  align-self: flex-end;
  height: auto;
  margin: 0 10px 4px;
  border-bottom: 2px dashed #aaa;
}

.menu .category_wrap .menu_item .price {
  font-size: 30px;
  margin-top: 15px;
  font-weight: 700;
  color: var(--bg);
  font-family: "Cormorant Infant", sans-serif;
}

/* Testimonials section */
.testimonials {
  width: 100%;
  padding: 140px 0 120px;
  background-color: var(--bg);
}

.testimonials_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}

.testimonials_content .testimonials_title {
  padding-bottom: 10px;
}

.testimonials_content .testimonials_title span {
  display: inline-block;
  padding-block: 10px 5px;
  border-block: 1px solid var(--accent);
  font-weight: 500;
  letter-spacing: 0.2em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}

.testimonials_content .testimonials_title .testimonial_title_wrapper h3 {
  margin: 10px 0 8px;
  text-transform: capitalize;
  color: #fff;
  font-size: 40px;
  font-family: "Cormorant Infant", sans-serif;
}

.testimonials_content .testimonials_title .testimonial_title_wrapper p {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #fff;
}

.swiper_box {
  overflow: visible !important;
}

.testimonials_cover {
  position: relative;
  display: flex;
  padding-block: 20px;
}

.testimonials_content
  .testimonials_comments
  .testimonials_cover
  .testimonial_card {
  width: 528px !important;
  height: 418px;
  display: flex;
  flex-direction: column;
  background: var(--grey-bg);
  padding: 40px;
  flex-shrink: 0;
}

.testimonials_content
  .testimonials_comments
  .testimonials_cover
  .testimonial_card
  .ts_profile {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #797e89;
}

.testimonials_cover .testimonial_card .ts_profile .profile_picture {
  position: relative;
}

.testimonials_cover
  .testimonial_card
  .ts_profile
  .profile_picture
  .img_profile {
  border-radius: 50%;
}

.testimonials_cover .testimonial_card .ts_profile .profile_picture .quote_wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  left: 5px;
  background-color: var(--accent);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid var(--bg);
}

.testimonials_cover .testimonial_card .ts_profile .name_wrapper h4 {
  font-family: "Cormorant infant", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
}

.testimonials_cover .testimonial_card .ts_profile .name_wrapper p {
  font-size: 20px;
  letter-spacing: 0.01em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--accent);
}

.testimonials_cover .testimonial_card .ts_comments p {
  color: #fff;
  font-family: "Cormorant Infant", sans-serif;
  letter-spacing: 0.01em;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  bottom: 5px;
  background-color: #fff6 !important;
}

.swiper-pagination-bullet:last-child {
  display: none;
}

.swiper-pagination-bullet-active {
  left: 48%;
  bottom: 5px;
  width: 20px !important;
  height: 20px !important;
  background-color: #fff !important;
}

.swiper-pagination {
  margin-top: 20px;
  position: relative !important;
}

/* -------------------------- */
/* ---- PARALLAX SECTION ---- */
/* -------------------------- */

.parallax_section {
  width: 100%;
  height: 600px;
  background-image: url("./images/download.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
}

/* -------------------------- */
/* ----- OFFERS SECTION ----- */
/* -------------------------- */

.offers_section {
  width: 100%;
  padding-block: 140px 60px;
}

.offers_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers_content .offers_title_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.offers_content .offers_title_wrap span {
  border-block: 1px solid var(--accent);
  color: var(--bg);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
  padding: 5px 0 0 0;
}

.offers_content .offers_title_wrap h3 {
  font-size: 40px;
  font-family: "Cormorant Infant", sans-serif;
  margin-block: 10px 8px;
  color: var(--bg);
}

.offers_title_wrap p {
  text-align: center;
  letter-spacing: 0.01em;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 10px;
  color: #555;
}

.offers_content .offers_content_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-top: 20px;
}

.offers_poster {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  display: flex;
}

.offers_poster:first-child {
  background-image: url("./images/post-img/bg/IMAGE\ \(10\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

.offers_poster:last-child {
  background-image: url("./images/post-img/bg/IMAGE\ \(11\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

.offers_poster .data_wrapper {
  width: 60%;
}

.offers_poster .data_wrapper .only_rate {
  min-width: 140px;
  margin: 10px 10px 30px 0;
  padding: 25px 25px 15px 30px;
  display: inline-block;
  transform: rotate(-14deg);
}

.offers_poster .data_wrapper .only_rate p {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  line-height: 0.7;
  letter-spacing: 0.01em;
  color: var(--bg);
  font-family: "Josefin sans", sans-serif;
}

.offers_poster .data_wrapper .only_rate h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 60px;
  line-height: 1.1;
  font-weight: 700;
  font-family:
    Cormorant Infant,
    sans-serif;
}

.offers_poster .data_wrapper .rate_white {
  background-image: url("https://cdn.prod.website-files.com/622856f73bdd0f82f7741cb2/62301d273087db6f344caaa7_offer-bg-1.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.offers_poster .data_wrapper .rate_black {
  background-image: url("https://cdn.prod.website-files.com/622856f73bdd0f82f7741cb2/6230226f3dfe38bbe2ce6745_offer-bg-2.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.offers_poster .data_wrapper .rate_black p,
.offers_poster .data_wrapper .rate_black h3 {
  color: #fff;
}

.offers_poster .data_wrapper .rate_white {
  color: var(--bg);
}

.data_wrapper .offer_going {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 5px;
  font-family:
    Josefin Sans,
    sans-serif;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  line-height: 1.5;
  color: var(--bg);
  border-block: 1px solid var(--bg);
}

.data_wrapper .offer_name {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 40px;
  font-family:
    Cormorant Infant,
    sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

.data_wrapper .offer_description {
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: #555;
  font-family:
    Josefin Sans,
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.offers_poster .image_wrapper img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

/* -------------------------- */
/* ----- POPULAR DISHES ----- */
/* -------------------------- */

.popular_dishes {
  width: 100%;
  margin-block: 60px 140px;
}

.popular_dishes .popular_dish_title_wrap {
  text-align: center;
}

.popular_dish_content .popular_dish_grid {
  margin-block: 30px 20px;
}

.popular_dish_content .popular_dish_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.popular_dish_content .popular_dish_grid .popular_dish_image {
  width: 100%;
}

.popular_dish_item {
  margin-bottom: 40px;
}

.popular_dish_item .popular_dish_contents .popular_dish_price_wrap {
  border-bottom: 1px solid #dcdcdc;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.popular_dish_item
  .popular_dish_contents
  .popular_dish_price_wrap
  .popular_dish_name {
  margin-top: 10px;
  font-size: 30px;
}

.popular_dish_item
  .popular_dish_contents
  .popular_dish_price_wrap
  .popular_dish_price {
  margin-top: 10px;
  font-size: 30px;
}

.popular_dish_content .dish_button_wrap {
  text-align: center;
}

/* -------------------------- */
/* ---- SERVICE SECTION ----- */
/* -------------------------- */

.service_section {
  width: 100%;
  display: block;
  padding-block: 140px;
  background-color: var(--bg);
}

.service_section .service_content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.service_section .service_content .service_title_wrap {
  padding-right: 60px;
}

.service_section .service_content .service_title_wrap p,
.service_section .service_content .service_title_wrap h3 {
  color: #fff;
}

.service_section .service_content .service_item {
  text-align: center;
  border: 20px solid #323841;
  padding: 45px 30px 30px;
}

.service_section .service_content .service_item h4 {
  color: #fff;
  font-size: 25px;
}

/* -------------------------- */
/* ------ BLOG SECTION ------ */
/* -------------------------- */

.blog_section {
  width: 100%;
  padding-block: 140px 100px;
}

.blog_content .section_title_wrap {
  text-align: center;
}

.blog_content .blog_collection_list {
  display: flex;
  margin-top: 20px;
}

.blog_content .blog_collection_list .blog_item {
  width: 50%;
  padding: 0 25px;
  margin-bottom: 50px;
}

.blog_content .blog_collection_list .blog_item:hover .link_wrap {
  opacity: 1;
}

.blog_content .blog_collection_list .blog_item a,
.blog_content .blog_collection_list .blog_item a p {
  transition: 0.2s ease;
}

.blog_content .blog_collection_list .blog_item a:hover,
.blog_content .blog_collection_list .blog_item a p:hover {
  color: var(--accent);
}

.blog_content .blog_collection_list .blog_image_wrap {
  position: relative;
}

.blog_content .blog_collection_list .blog_image_wrap img {
  width: 100%;
}

.blog_content .blog_collection_list .blog_image_wrap .link_wrap {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000a6;
  transition: 0.3s ease;
}

.blog_content .blog_collection_list .blog_image_wrap .link_wrap a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.blog_content .blog_collection_list .blog_item .blog_data {
  border: 1px solid #c4c4c4;
  border-top: 1px #000;
  margin-top: 0;
  padding: 50px 45px 32px;
}

.blog_content .blog_collection_list .blog_item .blog_data .blog_meta_wrap {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

/* Blog direct changes */
.blog_category {
  color: var(--bg);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 6px;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.2s;
}

.blog_category_link {
  border-block: 1px solid var(--accent);
  text-decoration: none;
  color: var(--bg);
}

.blog_meta_wrap .blog_date_wrap {
  border-block: 1px solid var(--accent);
}

.blog_date {
  color: var(--bg);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 5px;
  font-size: 15px;
  font-weight: 500;
}

.blog_item_title {
  color: var(--bg);
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family:
    Cormorant Infant,
    sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  display: inline-block;
}

/* --------------------------- */
/* --- RESERVATION SECTION --- */
/* --------------------------- */

.reservation_section {
  padding: 140px;
  background-image: url("./images/bg/download.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.reservation_section .reservation_content {
  margin: 0 80px;
  padding: 140px;
  background-color: var(--bg-transparent);
}

.reservation_section .reservation_content .section_title_wrap {
  padding-bottom: 10px;
  text-align: center;
}

.reservation_section .reservation_content .section_title_wrap p,
.reservation_section .reservation_content .section_title_wrap h3 {
  color: #fff;
}

.reservation_section .reservation_content .section_title_wrap h3 {
  margin: 10px 0 8px;
  font-size: 40px;
}

.reservation_section .reservation_content .reservation_block {
  margin: 20px;
  text-align: center;
}

.reservation_section .reservation_content .book_table_form {
  margin: 0 0 15px;
}

.reservation_section .reservation_content .book_table_form .form_input_wrap {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.input_field {
  color: var(--white);
  background-color: #0000;
  border: 1px solid #858585;
  min-height: 70px;
  padding-left: 20px;
  font-family:
    Josefin Sans,
    sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

.input_field::placeholder {
  color: #fff;
}

.input_field:focus {
  outline: 0;
  border-color: #3898ec;
}

.input_field.half_width {
  width: 48%;
  margin-bottom: 30px;
}

.input_field.quarter_width {
  width: 31%;
  margin-bottom: 10px;
}

footer {
  padding: 140px 0 0;
  width: 100%;
  background-color: var(--bg);
}

footer .footer_content p {
  color: #fff;
}

footer .footer_content .footer_top_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 40px;
}

footer .footer_content .footer_top_content .footer_link a {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

footer .footer_content .footer_top_content .footer_logo {
  align-self: center;
  justify-self: center;
  display: flex;
}

footer .footer_content .footer_top_content .footer_social {
  text-align: right;
}

footer .footer_content .footer_top_content .footer_social a {
  font-size: 25px;
  padding-inline: 10px;
  color: #fff;
}

footer .footer_content .footer_main_block {
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  padding: 0 0 70px;
}

footer .footer_content .footer_main_block .widget_title_wrap {
  border-block: 1px solid var(--accent);
  margin-top: 9px;
  margin-bottom: 30px;
  display: inline-block;
}

footer .footer_content .footer_main_block .widget_title_wrap .widget_title {
  color: #fff;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    Josefin Sans,
    sans-serif;
  font-size: 15px;
  padding-block: 5px 3px;
  font-weight: 500;
  display: inline-block;
  line-height: 1.4;
}

footer .footer_content .footer_main_block .address_widget p {
  margin-bottom: 0;
}

footer .footer_content .footer_main_block .address_widget a {
  display: block;
  font-size: 20px;
  color: var(--accent);
  transition: 0.2s;
  text-decoration: none;
  line-height: 1.4;
}

footer .footer_content .footer_main_block .footer_subscribe_widget {
  text-align: center;
}

footer .footer_content .footer_main_block .footer_subscribe_widget .form_wrap {
  margin-bottom: 15px;
}

footer
  .footer_content
  .footer_main_block
  .footer_subscribe_widget
  .form_wrap
  form {
  display: flex;
  align-items: center;
}

footer
  .footer_content
  .footer_main_block
  .footer_subscribe_widget
  .input_wrapper {
  width: 100%;
}

footer
  .footer_content
  .footer_main_block
  .footer_subscribe_widget
  .subscribe_form_input {
  width: 100%;
  color: #fff;
  background-color: #0000;
  border: 1px solid #858585;
  min-height: 68px;
  margin-bottom: 0;
  padding-left: 20px;
  font-family:
    Josefin Sans,
    sans-serif;
  font-size: 22px;
  font-weight: 500;
}

footer
  .footer_content
  .footer_main_block
  .footer_subscribe_widget
  .subscribe_form_input::placeholder {
  color: #fff;
}

footer
  .footer_content
  .footer_main_block
  .footer_subscribe_widget
  .subscribe_form_input:focus{
    border-color: #3898ec;
    outline: 0;
  }

footer
  .footer_content
  .footer_main_block
  .footer_subscribe_widget
  .form_wrap
  .submit_button {
  margin-top: 0;
}

footer .footer_content .footer_main_block .footer_working_hour {
  text-align: right;
}

footer .footer_content .footer_main_block .footer_working_hour p span {
  color: var(--accent);
}

footer .copyright_block {
  border-top: 1px solid #575b62;
  padding: 25px 0;
}

footer .copyright_block .copyright_content {
  display: flex;
  justify-content: space-between;
}

footer .copyright_block .copyright_content p {
  color: #fff;
}

footer .copyright_block .copyright_content .footer_page_link {
  display: flex;
  gap: 20px;
}

footer .copyright_block .copyright_content .footer_page_link a {
  font-size: 20px;
  line-height: 1.4;
}

.copyright_link {
  color: var(--accent);
  text-decoration: none;
}

/* Animations */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
